.container {
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
}

.loading {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  >thead > tr > th {
    font-weight: 700;
  }
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 8px;
  width: 100%;
  justify-content: space-between;
  padding-left: 7px;

  .controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}