.container {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.table {
  >thead > tr > th {
    font-weight: 700;
  }
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 8px;
  width: 100%;
  justify-content: space-between;
  padding-left: 7px;

  .controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding-right: 15px;

    .github {
      margin-right: 5px;
      width: 18px;
      height: 18px;
    }

    .by {
      margin: 0 5px;
    }

    .link {
      color: #5ec1e7;
      text-decoration: none;
      transition: all ease-in-out 0.3s;

      &:hover {
        color: #38b3ff;
      }
    }
  }
}