.container {
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.table {
  >thead > tr > th {
    font-weight: 700;
  }
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-between;
  padding-left: 8px;

  .controls {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .info {
    display: flex;
    align-items: center;

    .github {
      margin-right: 10px;
    }

    .link {
      color: #62de73;
      text-decoration: none;
      transition: all ease-in-out 0.3s;

      &:hover {
        color: #8afc95;
      }
    }
  }
}