.container {
  position: relative;
  width: 100%;
  background: white;
  display: flex;

  .tags {
    flex-grow: 1;
    max-width: 100px;
    color: black;
  }

  .graph {
    position: relative;
  }

  .log {
    flex-grow: 1
  }
}

.selected {
  position: absolute;
  $borderRadius: 5px;
  border-bottom-left-radius: $borderRadius;
  border-top-left-radius: $borderRadius;
  right: 0;
  background: cyan;
  z-index: 0;
}

.dragHandle {
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  transition: background ease-in-out 0.2s;

  &:hover {
    cursor: ew-resize;
    background: grey;
  }
}