.container {
  position: relative;
  width: 100%;
  background: white;
  display: flex;

  .tags {
    flex-grow: 1;
    max-width: 100px;
    color: black;

    .tag {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
  }

  .graph {
    position: relative;
    border-left: 1px solid black;
  }

  .log {
    flex-grow: 1
  }
}

.selected {
  position: absolute;
  $borderRadius: 5px;
  border-bottom-left-radius: $borderRadius;
  border-top-left-radius: $borderRadius;
  right: 0;
  background: cyan;
  z-index: 0;
}

.dragHandle {
  position: absolute;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  background: grey;

  &:hover {
    cursor: grab;
  }
}