.container {
  position: relative;
  width: 100%;
  background: white;
  display: flex;

  .tags {
    flex-grow: 1;
    max-width: 100px;
    color: black;

    .tag {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
  }

  .graph {
    position: relative;
    flex-grow: 3;
    border-left: 1px solid black;
  }
}

.branchLine {
  position: absolute;
  width: 2px;

  &::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: black;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mergeLine {
  position: absolute;
  overflow: visible;
  pointer-events: none;
}