.column {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.line {
  position: absolute;
}

.horizontal {
  top: 50%;
  right: 0;
  height: 2px;
}

.singularLine {
  position: absolute;
  left: calc(50% - 3px);
  top: 0;
  width: 2px;
  height: 100%;
}

.indexNode {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 20;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 10s linear infinite;
}