.table {
  margin-top: 12px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) 195px;

  .row {
    display: contents;
  }

  >.thead >.tr >.th {
    text-align: left;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}