.item {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 15px;
  transition: all ease-in-out 0.2s;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: #eaeaea;
  }

  .name {
    margin: 0 0 5px 0;
    font-size: 0.9rem;
  }

  .colours {
    display: flex;
    gap: 3px;
    margin-left: 1px;

    .colour {
      width: 10px;
      height: 10px;
    }
  }
}

.selected {
  background: #dedede;

  .name {
    font-weight: 600;
  }
}