.table {
  color: black;
  border-collapse: separate;
  border-spacing: 0 8px;
  margin-top: -6px;

  .message {
    max-width: 500px;
  }

  .branch {
    max-width: 200px;
  }

  .row {
    border-bottom: 4px solid transparent;

    &:hover {
      cursor: pointer;
    }

    >td:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    background-clip: content-box;
    padding: 4px 0;
  }
}