.table {
  color: black;
  border-spacing: 0 2px;

  .message {
    max-width: 500px;
  }

  .branch {
    max-width: 200px;
  }

  .row {
    height: 40px;
    margin: 5px 0;

    &:hover {
      cursor: pointer;
    }

    >td:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
}