.row {
  display: contents;

  &:hover {
    cursor: pointer;
  }

  .message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
    padding-left: 20px;
    font-weight: 400;
  }

  .author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 30px;
    font-weight: 400;
  }

  .date {
    font-weight: 400;
  }

  >.td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
