.commitNode {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  font-size: 10px;
  z-index: 20;

  &:hover {
    cursor: pointer;
  }

  .commitLabel {
    position: absolute;
    left: 90%;
    top: 29%;
    font-size: 0.7rem
  }
}