.dropdown {
  padding: 8px;
  border-radius: 5px;

  .item {
    background: white;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.anchor {
  all: unset;
  background: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  .chevron {
    transition: all ease-in-out 0.3s;
    width: 12px;
    transform: rotate(90deg);
    margin-top: 2px;
  }

  .chevronOpen {
    transition: all ease-in-out 0.3s;
    width: 12px;
    transform: rotate(-90deg);
    margin-top: 2px;
  }
}