.dropdown {
  padding: 8px;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;

  .item {
    border-radius: 5px;
    padding: 10px;
    transition: all ease-in-out 0.2s;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:hover {
      cursor: pointer;
      background-color: var(--hover-colour) !important;
    }

    &:first-of-type {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.selected {
  font-weight: 600;
}

.anchor {
  all: unset;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  user-select: none;

  &:hover {
    cursor: pointer;
  }

  .chevron {
    transition: all ease-in-out 0.2s;
    width: 12px;
    transform: rotate(90deg);
    margin-top: 2px;
  }

  .chevronOpen {
    transition: all ease-in-out 0.2s;
    width: 12px;
    transform: rotate(-90deg);
    margin-top: 2px;
  }
}

.anchorOpen {
  border-radius: 5px 5px 0 0;
}