.table {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 195px;

  .row {
    display: contents;
  }

  .header:first-child {
    padding-left: 20px;
  }

  >.thead >.tr >.th {
    text-align: left;
    padding-bottom: 22px;
    box-sizing: border-box;
  }
}