.app {
  width: 100%;
  height: 100%;
  padding: 50px;
  background: #1a1a1a;

  .content {
    height: 100%;
    display: flex;
  }

  .button {
    margin-right: 15px;
    margin-bottom: 20px;
  }
}