.background {
  position: absolute;
}

.backgroundSquare {
  width: 100%;
  left: 0;
}

.backgroundBehindNode {
  right: 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  z-index: 0;
}

.noLogBackground {
  border-radius: 20px;
  width: 70%;
  right: 15%;
}