.item {
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.2s;

  .icon {
    width: 25px;
    height: 25px;
    margin-right: 4px;
  }

  .name {
    margin: 0;
    font-size: 0.9rem;
  }
}