.item {
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.2s;

  .icon {
    width: 25px;
    height: 25px;
    margin-right: 4px;
  }

  .details {
    display: flex;
    flex-direction: column;

    .name {
      margin: 0;
      font-size: 0.9rem;
    }

    .branch {
      opacity: 0.8;
      font-size: 0.7rem;
      margin: 0 0 0 1px;
    }
  }
}